{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">{{ title }}</div>
                <div class="card-body">
                    {% if error_message %}
                    <div class="alert alert-danger">{{ error_message }}</div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label"><em>Username</em></label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label"><em>Password</em></label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-outline-dark">Login</button>
                        <div class="mb-3 text-center">
                            <p>Don't have an account?</p>
                            <a href="{% url 'Users:register' %}" class="text-body fw-bold">Join us now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
